<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Utilisateurs</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="absolute top-4 right-4">
        <a th:href="@{/admin}" class="px-6 py-3 bg-gradient-to-r from-blue-500 to-purple-600 text-white font-semibold text-lg rounded-lg shadow-lg hover:shadow-xl transition duration-300 ease-in-out transform hover:scale-105">
            Retour
        </a>
    </div>
    <div class="container mx-auto mt-10">
        <h1 class="text-3xl font-bold mb-5">Gestion des Utilisateurs</h1>
        <table class="table-auto border-collapse border border-gray-300 w-full">
            <thead>
                <tr>
                    <th class="border border-gray-300 px-4 py-2">Pseudo</th>
                    <th class="border border-gray-300 px-4 py-2">Mot de Passe</th>
                    <th class="border border-gray-300 px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Boucle pour afficher les utilisateurs -->
                <tr th:each="utilisateur : ${utilisateurs}">
                    <form action="modifier-utilisateur" method="POST">
                        <td class="border border-gray-300 px-4 py-2">
                            <input type="text" name="pseudo" th:value="${utilisateur.pseudo}" 
                                class="border border-gray-300 px-2 py-1 w-full">
                        </td>
                        <td class="border border-gray-300 px-4 py-2">
                            <input type="text" name="mdp" th:value="${utilisateur.mdp}" 
                                class="border border-gray-300 px-2 py-1 w-full">
                        </td>
                        <td class="border border-gray-300 px-4 py-2">
                            <!-- Champ caché pour transmettre l'ID -->
                            <input type="hidden" name="id" th:value="${utilisateur.id}">
                            <button type="submit" 
                                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
                                Modifier
                            </button>
                        </td>
                    </form>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
